<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>评论</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="css/base.css">
    <style>
        .el-col{
            margin-top: 30px;
        }
        #edit{
            height: 40px;
            background-color: rgb(64,158,255);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 15px;
            width: 100px;
            border-radius: 5px;
            color: white;

        }
    </style>
</head>
<body>
<div id="app">
    <el-container>
        <el-header>
            <el-row>
            <el-col :span="6">
                <el-breadcrumb separator=" ">
                    <el-breadcrumb-item :to="{ path: '/' }"><a href="index.html">首页</a></el-breadcrumb-item>
                    <el-breadcrumb-item :to="{ path: '/' }"><a href="MyInfo.html">个人中心</a></el-breadcrumb-item>
                    <el-breadcrumb-item></el-breadcrumb-item>
                </el-breadcrumb>
            </el-col>
            </el-row>
        </el-header>
        <el-main style="margin-top: 100px">
            <div>关注用户</div>
            <li v-for="follow in follows" :key="follow.id" style="margin-left: 350px;margin-right: 350px">
                <div id="blog">
                    <div v-for="user in users" :key="user.uid">
                        <h1 v-if="user.uid==follow.followedId" style="font-size: 30px">{{user.username}}</h1>
                    </div>
                </div>
            </li>
        </el-main>
    </el-container>
</div>
<script>
    const vue=new Vue({
        el:"#app",
        data(){
            return{
                queryString:"",
                article:{
                    title:"",
                    content:"",

                },

                users:[{
                   uid:"",
                   nickname:"",
                   username:"",
                }],

                follows:[{
                    id:"",
                    followingId:"",
                    followedId:"",
                }],

                users1:[{
                    uid:"",
                    nickname:"",
                    username:"",
                }, {
                        uid:"",
                        nickname:"",
                        username:"",
                    }
                ]
                ,

                fav:{
                    ss:"",
                    s:"",
                    sss:"",
                },

            }
        },
        methods:{
            show(){
                axios.get("/follow/selectAll").then(res=>{
                    if(res.data.code==200){
                        this.follows=res.data.data;
                    }

                })
            },
            show1(){
                axios.get("/user/selectAll1").then(res=>{
                    if(res.data.code==200){
                        this.users=res.data.data;
                        this.show();
                        var len=this.follows.length;
                        var l=this.users.length;
                        this.fav.ss=len;
                        this.fav.s=l;
                        var i=0
                        var j=0
                        for(i;i<=len;i++){
                            for(j;j<=l;j++){
                                if(this.follows[i].followedId==this.users[j].uid){
                                    this.users1[i].username=this.users[j].username
                                    this.users1[i].uid=this.users[j].uid
                                }
                            }
                        }

                    }
                })
            },
            show2(){
                this.show1()
                this.fav.sss=this.users1.length
            }
        },

        created(){
            this.show();
            this.show1();
            this.show2();
        }


    })

</script>
</body>
</html>